<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tour Cities</title>
</head>
<body>
    <h1>Hello {{name}}!</h1>

    <ul>
        {{#each cities}}
            <li>{{this}}</li>
        {{/each}}
    </ul>

    <a href="/">Home</a>
</body>
</html>