<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Views</title>

    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <h1>Hello {{name}} {{affiliation}}!</h1>
    {{#if name}}
        <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fi.ebayimg.com%2Fimages%2Fi%2F191247621901-0-1%2Fs-l1000.jpg&f=1" alt="drake">
    <br>
    {{/if}}
        <a href="/about">View album</a>
        <a href="/cities">Tour cities</a>
    
</body>
</html>